.header {
  width: 972px;
  height: 56px;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.header__top_line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
  background-color: #1c1c1c;
  font-family: "Raleway", sans-serif;
}
.top_line__phone {
  transform: rotate(90deg);
}

.text__top_line {
  list-style: none;
  padding: 0px;
  margin: 0px 15px;
  color: white;
}
.text__top_line--red {
  color: #ff4d00;
}

.nav {
  width: 466px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}
.menu__item {
}
.menu__link {
  text-decoration: none;
  color: #6c6c6c;
}
.menu__link:hover {
  color: #ff4d00;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__title {
  font-size: 18px;
  font-family: "Racing Sans One", cursive;
}

.logo__image {
  width: 23px;
  height: 30px;
  margin: 0 10px;
}
.social_links {
}
.social_link {
  text-decoration: none;
  margin: 0 5px;
}
.social_icon {
  height: 20px;
}
@media screen and (max-width: 972px) {
  .header {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .logo__title {
    display: none;
  }
  .logo__image {
    width: 28px;
    height: 35px;
  }
  .text__top_line {
    margin: 0 5px;
    font-size: 14px;
  }
  .top_line__logo {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .social_links {
    display: none;
  }
}
