.main_page {
  width: 1100px;
  margin: 0 auto;
}
.cars_container {
  height: 100%;
  width: 100%;
  margin: 63px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 63px 150px;
}
.car_card {
  height: 272px;
  width: 465px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f7f7f7;
  position: relative;
  box-shadow: 4px 4px 4px #FF4D00;
}
.car_card__name {
  margin: 33px 0 0 0;
  font-size: 25px;
  font-family: "Merriweather", serif;
}
.car_card__center {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
}
.car_card__image {
  object-fit: fill;
}
.car_card__specifications {
  width: 135px;
  height: 86px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 25px 0;
}
.car_card__specification {
  display: flex;
  align-items: center;
  width: 100%;
}
.car_card__specification_icon {
  margin: 0 13px;
}
.car_card__price {
  color: #818181;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  position: absolute;
  bottom: 27px;
  left: 42px;
}
.car-link{
  margin: 30px auto;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  padding: 15px 0 0;
  color: #000000;
  border: 3px solid #FF4D00;
  box-sizing: border-box;
  width: 276px;
  height: 56px;
}
@media screen and (max-width: 1100px) {
  .main_page {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .car_card {
    width: 100%;
  }
  .car_card__image {
    height: 110px;
  }
}
.about-us .content{
  margin: 20px;
}
.about-us .big-img{
  width: 100%;
  object-fit: fill;
}
.about-us .title{
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;

}
.about-us .subtitle{
  margin-top: -10px;
  font-size: 20px;
  line-height: 20px;
  
  color: #FF4D00;
}
.rental{
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.car-title{
  font-weight: bold;  
  font-size: 20px;
  line-height: 28px;
}
.car-model{
  font-weight: 500;
  font-size: 15px;
  text-align: right;
  
  color: #818181;
}
.adventages{
  margin: 0 auto;
  width: 900px;
  height: 300px;

  display: flex;
  flex-wrap: wrap;
}
.adventage{
  margin: 10px 0;
  display: flex;
  align-items: center;
  width: 450px;
}
.adventage .text{
  margin: 0 0 0 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}