@import url("./header/header.css");

@import url("./main/main.css");

@import url("./footer/footer.css");

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.page_title {
  font-size: 30px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.page_subtitle {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ff4d00;
}
a{
  text-decoration: none;
}